.hidden.menu {
  display: none;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  color: #fff;
  background-color: #00B5AD;
  padding: 0.2em;
  margin: 0.5em;
}

.footer.segment {
  padding: 5em 0em;
}

