/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
display: block;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0 auto;
    overflow: auto;
    background-color: #e6f2d4;
    background-color: #8f8a5f;
    box-sizing: border-box;
}

#main::before, #home::before, #main::after, #home::after {
  content: "";
  clear: both;
  display: block;
}

#main {
  position: relative;
  padding-top: 0px;
}

/*list styles*/
ul li {
    list-style: none;
}

h1 {
    line-height: 80px;
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.5em;
    color: rgba(173, 169, 130, 0.9);
    color: #fff;
}

a {
	text-decoration: none;	
    color: #1d1c1e;
	-moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
}

a:hover {
	color: #000;
    background-color: #fefce8;
}

/* Content region styles -------------------*/

/*header styles*/
#home
{
  background-color: #646266;
  border-bottom: 0.5em solid #bfbfb9;
  padding:  0px;
  width: 100%;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
}

.fix-header {
  position: absolute;
  width: 100%;

}
.fixed-header:after {
  content: "";
  clear: both;
  display: block;
}

#available-now {
  margin-top: 80px;
}

/*hero styles*/
#hero {
  background-image: url(../images/harvest_road.JPG);
  background-repeat: no-repeat;
  opacity: 1.0;
  position: relative;
  background-attachment: fixed;
  height: 650px;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  z-index: -1;
}

#hero h2 {
  color: rgba(173, 169, 130, 0.9);
  font-size: 2em;
  padding-left: 0.5em;
  padding-top: 600px;
}

.slide{
	width:100%;
	position: relative;
	padding: 10px 30px 10px 10px;
}


/* ******************************************
Navigation CSS
****************************************** */
#nav{
	width: 100%;
	height: 80px;
	background-color: #3a4047;
        border-bottom: 0.5rem solid #bfbfb9;

	font-family: 'Raleway', sans-serif;
	font-weight:400;
	font-size: 20px;
	text-align: center;;
	position: relative;
	z-index: 999;
}
#nav a{
	width:53px;
	padding: 0 20px;
	position: relative;
	top: 30px;
	text-decoration: none;	
	text-transform: uppercase;
	text-align:left;	
	color: #fff;
	font-weight: 300;
	/* border-bottom: 5px solid #38ACEC; */

	-moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
	
}
#nav a:hover {
	color: #cacaca;
}

#nav a.nav-home {
	margin-top:30px;
	float:left;
	padding: 10px;
	top:0;
}

.navigation-wrapper {
	background: rgba(0, 0, 0, .9);
	padding: 40px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
	display: none;
}

.navigation {
	padding: 40px 5% 0 5%;
	display: none;
	font-family: 'Raleway', sans-serif;
}

.navigation li {
	list-style: none;
	margin: 20px 0;
}

.navigation-wrapper ul.navigation li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;

	-moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;

}

.navigation-wrapper .navigation li a:hover {
	color: #f7505a;
}

.navigation-wrapper ul.navigation hr.smaller {
	width:20px;
	height:3px;
	color:#ffcccc;
	background: #ffcccc;
	margin:1em auto 2em auto;
	z-index: 1000;
	opacity:1;
}

#available-now, #available-next-week, #full-list {
    background:#f6f6f6; 
	position:relative;
	width:100%;
	overflow:hidden;
	font-size: 20px;
	font-weight: 100;
	line-height: 35px;
	font-family: 'Open Sans', sans-serif;
}

/*******************************************
 Class = available CSS
****************************************** */
.available {
	background:#999;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.available h3.heading3 { 
    margin-top:3rem; 
      font-family:"Kaushan Script";
}

.available.hr {
	width:40px;
	height:3px;
	margin:3em auto;
}

.available .column {
	padding: 80px;
}

.available .above {
	border-bottom:1px solid #eee;
}

.available .row .right {
	border-left:1px solid #eee;
}

.container li {
	height:90px;
	width:28%;
	margin:5px;
	float:left;
	padding: 1em;
	top:0;
    overflow: hidden;
  background-color: #999;
  background-color: #8f8a5f;
      border: 1px solid #1d1c1e;
  border-radius: 10px;
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#e9e9e9),color-stop(100%,rgba(233,233,233,0)));
    background-image:-webkit-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image:-moz-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image:-o-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image:-ms-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image:linear-gradient(#e9e9e9,rgba(233,233,233,0));


}

.section-wrapper {
    border-bottom: 0.5em solid #bfbfb9;
    background-image: url(../images/squash_leaf.JPG);
    background-repeat: no-repeat;
    opacity: 1.0;
    background-attachment: fixed;
    background-size:cover;
    height: 600px;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin-top: 10px;
    margin-bottom: -10px;
    z-index: -1;
}

#anti-hero {
    background-image: url(../images/squash_leaf.JPG);
    background-repeat: no-repeat;
    opacity: 1.0;
    background-attachment: fixed;
    background-size:cover;
    height: 200px;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin-top: 10px;
    margin-bottom: -10px;
    z-index: -1;
}

/*footer styles*/

footer {
  color: #f7f5e1;
  background-color: #8f8a5f;
  text-align: right;
  padding: 15px 0px 15px 0px;
}

footer .bottom-border {
  border-bottom: 3px solid blueviolet;
  border-bottom: 3px solid #a09aab;
}

/*sticky footer from CSS tricks*/
.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 10px;
  position: relative:
}
.page-wrapper:after {
  content: "";
  display: block;
}
.sticky-footer, .page-wrapper:after {
  height: 10px;
}


