    body {
      background-color: #DADADA;
    }
    .column {
      max-width: 700px;
    }
    
    .ui.form input[type="number"],
    .ui.form input[type="text"] {
      line-height: 1.2142em;
      padding: 0.27861429em .5em;
      font-size: 0.8em;
    }
