/* JavaScript and jQuery styles. */
.dialogue {
  position: fixed;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  background-color: #fefce8;
  border: 2px solid #1d1c1e;
  border-radius: 10px;

}

.dialogue h3 {
  font-family: "Kaushan Script";
  font-weight: normal;
  text-align: center;
  height: 2em;
  background-color: #cecbac;
  border-bottom: 1px solid #1d1c1e;
  border-radius: 10px 10px 0 0;
}

.dialogue p {
  font-weight: normal;
  text-align: left;
  height: 1em;
}

.highlighted {
  background-color: #fefce8;
}

